body{
    /* background-image: url(../images/louis-hansel-shotsoflouis-cC0_UO1Obg4-unsplash.jpg); */
    background-image: url(../images/photo-1525518392674-39ba1fca2ec2.jpeg);
    width: 100%;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    

   


}

#homet{
    text-align: center;
    font-family: 'Permanent Marker' ;
    color:yellow;
    
}

#homep{
    text-align: center;
    font-family: 'Caveat';
    font-size: 30px;
    color: white;

    
}